header {
  // background-color: #08124a;
  background-color: #121314;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  @include media-breakpoint-up(lg) {
    position: static;
    width: auto;
  }

  .header-desktop {
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    display: none;
    flex-direction: column;
    // justify-content: space-between;
  
    @include media-breakpoint-up(lg) {
      width: 250px;
      height: 100vh;
      display: flex;
    }

    .logo {
      max-width: 100px;
    }

    nav {
      margin-top: 150px;
    }
  }

  .nav-item {
    display: block;
    color: $white;
    font-size: 24px;

    &.active {
      font-weight: bold;
    }

    & + .nav-item {
      margin-top: 20px;
    }
  }

  .social-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .social-item {
      font-size: 30px;
      color: $black;

      &:hover {
        color: $brown;
      }
    }
  }
  
  .header-mobile {
    display: block;
    padding: 15px;
  
    @include media-breakpoint-up(lg) {
      display: none;
    }

    .logo {
      max-width: 30px;
    }

    .mobile-head {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .hamburger-mobile {
      color: $white;
    }

    .mobile-navigation {
      height: 0;
      opacity: 0;
      visibility: hidden;
      max-height: 0;
      transition: max-height 1s ease-in 1s;

      &.show {
        visibility: visible;
        opacity: 1;
        height: 100%;
        max-height: 1000px;
        transition: max-height 1s ease-in, opacity .5s ease-in .2s, visibility .5s ease-in .2s;
        margin-top: 20px;
        border-top: 1px solid $white;

        nav {
          margin-top: 20px;
        }
      }
    }
  }
}